.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Rounded-Rectangle-4 {
    width: 104px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-Rounded-Rectangle-41 {
    width: 98px;
    height: 32px;
    background-position: -119px -5px;
}

.sprite-Rounded-Rectangle-42 {
    width: 112px;
    height: 32px;
    background-position: -5px -47px;
}

.sprite-Rounded-Rectangle-43 {
    width: 88px;
    height: 32px;
    background-position: -127px -47px;
}

.sprite-X {
    width: 18px;
    height: 18px;
    background-position: -227px -5px;
}

.sprite-arrow {
    width: 10px;
    height: 35px;
    background-position: -255px -5px;
}

.sprite-arrow-gray {
    width: 11px;
    height: 40px;
    background-position: -225px -50px;
}


.sprite-button-back0 {
    width: 43px;
    height: 25px;
    background-position: -69px -100px;
}

.sprite-button-back1 {
    width: 44px;
    height: 25px;
    background-position: -122px -100px;
}

.sprite-button-back2 {
    width: 53px;
    height: 25px;
    background-position: -176px -100px;
}

.sprite-button-back3 {
    width: 72px;
    height: 25px;
    background-position: -69px -135px;
}

.sprite-button-back4 {
    width: 81px;
    height: 25px;
    background-position: -151px -135px;
}

.sprite-checkmark {
    width: 10px;
    height: 8px;
    background-position: -246px -50px;
}



.facebook {
    width: 42px;
    height: 44px;
    background-position: -5px -170px;
}

.facebook:hover {
    width: 42px;
    height: 44px;
    background-position: -57px -170px;
}

.github {
    width: 42px;
    height: 44px;
    background-position: -173px -170px;
}

.github:hover {
    width: 42px;
    height: 44px;
    background-position: -225px -170px;
}


.sprite-iCloud-down {
    width: 32px;
    height: 22px;
    background-position: -242px -118px;
}



.sprite-menu {
    width: 25px;
    height: 21px;
    background-position: -202px -224px;
}


.contact-item-link:after {
    content: '';
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    top: 0px;
    left: 48px; 
    width: 10px;
    height: 35px;
    background-position: -255px -5px;
}

.email:before {
    content: '';
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    top: 13px;
    left: 17px; 
    width: 17px;
    height: 13px;
    background-position: -246px -68px;
}

.skype:before {
    content: '';
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    top: 11px;
    left: 17px; 
    width: 20px;
    height: 20px;
    background-position: -279px -70px;
}

.phone:before {
    content: '';
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    top: 11px;
    left: 17px; 
    width: 17px;
    height: 22px;
    background-position: -309px -70px;
}

.twitter {
    width: 42px;
    height: 44px;
    background-position: -284px -102px;
}

.twitter:hover {
    width: 42px;
    height: 44px;
    background-position: -277px -156px;
}


.vk {
    width: 42px;
    height: 44px;
    background-position: -101px -242px;
}

.vk:hover {
    width: 42px;
    height: 44px;
    background-position: -237px -242px;
}
.login {
    position: absolute;
    top: 21px;
    left: 169px; 
    width: 19px;
    height: 22px;
    background-position: -173px -224px;
}
.login:hover {
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    top: 21px;
    left: 169px; 
    width: 24px;
    height: 22px;
    background-position: -277px -210px;
}

.job-item:after {
    content: " ";
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    top:15px;
    left:0;   
    width: 54px;
    height: 55px;
    background-position: -5px -100px;
}

.study-item:after {
   content: " ";
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    top:15px;
    left:0;   
    width: 54px;
    height: 55px;
}

.school:after {
    background-position: -275px -5px;
}
.student:after {
    background-position: -5px -224px;
}

.loftschool:after {
    background-position: -109px -170px;
}
.register-submit {
    width: 150px;
    height: 37px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #727070;
    -webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
    -moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
    box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
    border: solid 1px #c3c2c2;
    background-image: -webkit-linear-gradient(bottom, #43b796, #80e8cb);
    background-image: -moz-linear-gradient(bottom, #43b796, #80e8cb);
    background-image: -o-linear-gradient(bottom, #43b796, #80e8cb);
    background-image: -ms-linear-gradient(bottom, #43b796, #80e8cb);
    background-image: linear-gradient(to top, #43b796, #80e8cb);
}


.icon-email-grey:before, .icon-password:before,
.icon-email-grey:after, .icon-password:after {
    content: " ";
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
 }   

.icon-email-grey:before, .icon-password:before {
    top: 14px;
    left: 17px; 
    z-index: 2;
}
.icon-email-grey:before {
    width: 23px;
    height: 17px;
    background-position: -246px -91px;
}
.icon-password:before {
    width: 22px;
    height: 20px;
    background-position: -69px -224px;
}

.icon-email-grey:after, .icon-password:after {
    top: 0px;
    left: 44px; 
    z-index: 2;
    width: 11px;
    height: 40px;
    background-position: -225px -50px;
}
/*.register-checkbox {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(156,155,155,.05), 0 1px rgba(167,166,166,.15), inset 0 1px rgba(114,112,112,.33);
    -moz-box-shadow: 0 0 4px rgba(156,155,155,.05), 0 1px rgba(167,166,166,.15), inset 0 1px rgba(114,112,112,.33);
    box-shadow: 0 0 4px rgba(156,155,155,.05), 0 1px rgba(167,166,166,.15), inset 0 1px rgba(114,112,112,.33);
    background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.2), rgba(251,249,249,0));
    background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.2), rgba(251,249,249,0));
    background-image: -o-linear-gradient(bottom, rgba(233,231,231,.2), rgba(251,249,249,0));
    background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.2), rgba(251,249,249,0));
    background-image: linear-gradient(to top, rgba(233,231,231,.2), rgba(251,249,249,0));
}*/

.register-checkbox {
    width: 22px;
    height: 21px;
    top: -4px;
    background-image: url(../images/spritesheet_checkbox.png);
    background-repeat: no-repeat;
    display: block;
     -webkit-appearance: none; /* Прячем родной чекбокс */ 
    background-position: -5px -5px;
}
.register-checkbox:checked {
   /* width: 21px;
    height: 21px;
   */ background-position: -37px -5px;
}

.sprite-polaroid-1 {
    width: 64px;
    height: 64px;
    background-position: -68px -5px;
}