.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}


.sprite-arrow {
    width: 10px;
    height: 35px;
    background-position: -255px -5px;
}

.sprite-arrow-gray {
    width: 11px;
    height: 40px;
    background-position: -225px -50px;
}


/*.sprite-button-back0 {
    width: 43px;
    height: 25px;
    background-position: -69px -100px;
}

.sprite-button-back1 {
    width: 44px;
    height: 25px;
    background-position: -122px -100px;
}

.sprite-button-back2 {
    width: 53px;
    height: 25px;
    background-position: -176px -100px;
}

.sprite-button-back3 {
    width: 72px;
    height: 25px;
    background-position: -69px -135px;
}

.sprite-button-back4 {
    width: 81px;
    height: 25px;
    background-position: -151px -135px;
}*/

.sprite-checkmark {
    width: 10px;
    height: 8px;
    background-position: -246px -50px;
}



.facebook {
    width: 42px;
    height: 44px;
    background-position: -5px -170px;
}

.facebook:hover {
    width: 42px;
    height: 44px;
    background-position: -57px -170px;
}

.github {
    width: 42px;
    height: 44px;
    background-position: -173px -170px;
}

.github:hover {
    width: 42px;
    height: 44px;
    background-position: -225px -170px;
}



.sprite-menu {
    width: 25px;
    height: 21px;
    background-position: -202px -224px;
}

.contact-item-link:after,
.email:before,
.skype:before,
.phone:before,
.job-item:after,
.study-item:after,
.icon-email-grey:before,
.icon-password:before,
.icon-email-grey:after,
.icon-password:after  {
    content: '';
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
}

.contact-item-link:after {
/*    content: '';
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
*/    top: 0px;
    left: 48px; 
    width: 10px;
    height: 35px;
    background-position: -255px -5px;
}

.email:before {
/*    content: '';
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
*/    top: 13px;
    left: 17px; 
    width: 17px;
    height: 13px;
    background-position: -246px -68px;
}

.skype:before {
 /*   content: '';
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
*/    top: 11px;
    left: 17px; 
    width: 20px;
    height: 20px;
    background-position: -279px -70px;
}

.phone:before {
/*    content: '';
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
*/    top: 11px;
    left: 17px; 
    width: 17px;
    height: 22px;
    background-position: -309px -70px;
}

.twitter {
    width: 42px;
    height: 44px;
    background-position: -284px -102px;
}

.twitter:hover {
    width: 42px;
    height: 44px;
    background-position: -277px -156px;
}


.vk {
    width: 42px;
    height: 44px;
    background-position: -101px -242px;
}

.vk:hover {
    width: 42px;
    height: 44px;
    background-position: -237px -242px;
}
.login {
    position: absolute;
    top: 21px;
    left: 169px; 
    width: 19px;
    height: 22px;
    background-position: -173px -224px;
}
.login:hover {
/*    position: absolute;
*/    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    top: 21px;
    left: 169px; 
    width: 24px;
    height: 22px;
    background-position: -277px -210px;
}


.job-item:after {
/*    content: " ";
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
*/    top:15px;
    left:0;   
    width: 54px;
    height: 55px;
    background-position: -5px -100px;
}

.study-item:after {
/*   content: " ";
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
*/    top:15px;
    left:0;   
    width: 54px;
    height: 55px;
}

.school:after {
    background-position: -275px -5px;
}
.student:after {
    background-position: -5px -224px;
}

.loftschool:after {
    background-position: -109px -170px;
}

/*.icon-email-grey:before, .icon-password:before,
.icon-email-grey:after, .icon-password:after {
    content: " ";
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
 }   
*/
.icon-email-grey:before, .icon-password:before {
    top: 14px;
    left: 17px; 
    z-index: 2;
}
.icon-email-grey:before {
    width: 23px;
    height: 17px;
    background-position: -246px -91px;
}
.icon-password:before {
    width: 22px;
    height: 20px;
    background-position: -69px -224px;
}

.icon-email-grey:after, .icon-password:after {
    top: 0px;
    left: 44px; 
    z-index: 2;
    width: 11px;
    height: 40px;
    background-position: -225px -50px;
}

.register-checkbox {
    width: 22px;
    height: 21px;
    top: -4px;
    background-image: url(../images/spritesheet_checkbox.png);
    background-repeat: no-repeat;
    display: block;
     -webkit-appearance: none; /* Прячем родной чекбокс */ 
    background-position: -5px -5px;
}
.register-checkbox:checked {
   background-position: -37px -5px;
}


.sprite-tooltips {
    background-image: url(../images/spritesheet_tooltips.png);
    background-repeat: no-repeat;
    display: block;
}

/*.sprite-tultip-arrow_leftt {
    width: 13px;
    height: 29px;
    background-position: -5px -5px;
}

.sprite-tultip-arrow_right {
    width: 13px;
    height: 29px;
    background-position: -28px -5px;
}

.sprite-tultip-back-leftt {
    width: 6px;
    height: 29px;
    background-position: -51px -5px;
}

.sprite-tultip-back-right {
    width: 6px;
    height: 29px;
    background-position: -5px -44px;
}

.sprite-tultip-middle {
    width: 2px;
    height: 29px;
    background-position: -67px -5px;
}
*/

/*.block-input_validate,
.block-addproject_validate {
*/ 
.tooltip{
    display:none;
    box-sizing: border-box;
    color: #9a4e32;
    font-family: OpenSansSemibold;
    text-align: center;
    font-size: 12px;
    padding: 3px 7px 3px 7px;
    position: absolute;
    height: 28px;
    border-radius: 6px;
    background-color: #f3a286;/* #fff*/;
    -webkit-box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
    -moz-box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
    box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
    border: solid 1px #c3c2c2;
    background-image: -webkit-linear-gradient(bottom, #d37654, #f3a286 89%, #f3a287 90%);
    background-image: -moz-linear-gradient(bottom, #d37654, #f3a286 89%, #f3a287 90%);
    background-image: -o-linear-gradient(bottom, #d37654, #f3a286 89%, #f3a287 90%);
    background-image: -ms-linear-gradient(bottom, #d37654, #f3a286 89%, #f3a287 90%);
    background-image: linear-gradient(to top, #d37654, #f3a286 89%, #f3a287 90%);
}


/*.block-input_validate:after, 
.block-addproject_validate:after {
*/
.tooltip:after {
    content: " ";
    display: block;
    position: absolute;
    background-image: url(../images/sprite-arrows.png);
    background-repeat: no-repeat;
}

/*.block-input_validate.right:after {
*/ 
.tooltip.right:after{ 
    width: 7px;
    height: 12px;
    background-position: -5px -5px;
    top: 7px;
    left: -7px;
}

/*.block-input_validate.left:after,
.block-addproject_validate:after {
*/
.tooltip.left:after{
    width: 7px;
    height: 12px;
    background-position: -22px -5px;
    top: 7px;
    right: -7px;
}

/*Основные кнопки */
.button-submit,
.register-submit,
.project-add-submit {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #72ddbf;
    -webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
    -moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
    box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
    border: solid 1px #c3c2c2;
    background-image: -webkit-linear-gradient(bottom, #43b796, #80e8cb);
    background-image: -moz-linear-gradient(bottom, #43b796, #80e8cb);
    background-image: -o-linear-gradient(bottom, #43b796, #80e8cb);
    background-image: -ms-linear-gradient(bottom, #43b796, #80e8cb);
    background-image: linear-gradient(to top, #43b796, #80e8cb);
}
.button-reset {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fbf9f9;
    -webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
    -moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
    box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
    border: solid 1px #c3c2c2;
    background-image: -webkit-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
    background-image: -moz-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
    background-image: -o-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
    background-image: -ms-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
    background-image: linear-gradient(to top, #e9e6e4, #fbf9f9 94%, #fff);
}
.button-submit:hover,
.button-reset:hover,
.project-add-submit:hover,
.register-submit:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #4ec1a5;/*#fbf9f9;*/
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.3);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.3);
    box-shadow: inset 0 1px rgba(255,255,255,.3);
    border: solid 1px #c3c2c2;
    background-image: -webkit-linear-gradient(bottom, #3aa087, #5fdcbd);
    background-image: -moz-linear-gradient(bottom, #3aa087, #5fdcbd);
    background-image: -o-linear-gradient(bottom, #3aa087, #5fdcbd);
    background-image: -ms-linear-gradient(bottom, #3aa087, #5fdcbd);
    background-image: linear-gradient(to top, #3aa087, #5fdcbd);
}


.button-reset {
    width: 125px;
    height: 40px;
}

.button-submit {
    width: 121px;
    height: 40px;
}

.register-submit, .project-add-submit {
    height: 37px;
}
.register-submit {
    width: 150px;
}
.project-add-submit {
    width: 125px;
}
