.content-header {
	font-family: OpenSansRegular;
	padding-top: 6px;
	padding-bottom: 15px;
}

.form-message {
	width: 430px;
	color: #727070;
	font-size: 14px;
	font-family: OpenSansRegular;
/*	margin-left: 82px;
	margin-top: -9px;
*/	margin: -9px 0 0 82px;
	position: relative;
}
.block-input {
	 width: 190px;
	 display: inline-block;
}

.block-input-message, .block-captcha {
    width: 405px;
	margin-top: 14px;
}
.block-captcha {
	margin: 8px 0 0 0;
}
.label-input {
	display: block;
	margin-bottom: 6px;
}

.placeholder {
	box-sizing: border-box;
	padding-left: 8px;
	font-size: 12px;
}
.input-name, .input-email, .input-captcha{
	width: 195px;
	height: 45px;
	-webkit-border-radius: 2px/4px;
	-moz-border-radius: 2px/4px;
	border-radius: 2px/4px;
	background-color: #fbfcfd;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
}

.block-input-email {
	margin-left: 17px;
}


.input-message {
	resize: none;
	width: 405px;
	height: 183px;
	padding: 12px 9px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fbfcfd;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
}


.image-captcha {
	float: left;
	width: 192px;
}
.image-captcha, .input-captcha {
	display:inline-block;
}
.input-captcha {
	margin: 20px 0 0 18px;
	height: 35px;
	display: none;
}

.form-message-buttons {
	margin : 30px 0 10px 30px;
}
.button-reset {
	margin-left: 96px;
}
.block-input, .block-input-message, .block-captcha {
	position: relative;
}



/*главное меню - раздельные части страниц
*/
.contact-link {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-color: #3eb799;/*#bfbfbf*/
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -moz-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -o-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -ms-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: linear-gradient(to top, #3eb799, #7ee8ce);
}

.about-link {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius:  3px 3px 0 0;
	border-radius:  3px 3px 0 0;	
}


.error {
	-webkit-border-radius: 4px/2px;
	-moz-border-radius: 4px/2px;
	border-radius: 4px/2px;
	background-color: #fbfcfd;
	-webkit-box-shadow: 0 0 3px rgba(203,105,69,.85), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 3px rgba(203,105,69,.85), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 3px rgba(203,105,69,.85), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 2px #cb6945;
	background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));}


/*позиции туултипов*/
.validate-name {
    top: 34px;
    left: -103px;
}
.validate-email {
    top: 34px;
    right: -116px;
}
.validate-message {
    top: 102px;
    left: -96px;
}
.validate-captcha {
    top: 49px;
    left: -98px;
}