.info-photo, .info-text {
	display:inline-block;
}
.info-photo {
 	width: 150px;
	height: 150px;
	position: relative;

	border-radius: 50%;
	border: 1px solid #d0d0d0;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 8px 4px rgba(50, 50, 50, 0.05);
    -moz-box-shadow:    inset 0px 0px 8px 4px rgba(50, 50, 50, 0.05);
    box-shadow:         inset 0px 0px 8px 4px rgba(50, 50, 50, 0.05);
	
}
.box-photo {
	width: 132px;
	height: 132px;
	border-radius: 50%;
	background-color: #fbfbfb;
	overflow: hidden;
	position: absolute;
	top: 9px;
	left: 9px;
}

.info-text {
	/*margin-left:200px;*/
	vertical-align: top;
	width:373px ;
	padding-left: 0;
	margin-left: 34px;
	margin-top: -8px;
}

.main-info-item {
	font-family: OpenSansSemibold;
	font-size: 14px;
	color: #727070;
	line-height: 26px;
}
.main-info-item:last-child {
	margin-top: 6px;
}
.skills {
	color: #1e7465;
	font-family: OpenSansSemibold;
	font-size: 9px;
	background: url(../images/skill-center.png)  repeat-x;
	background-position: 0 4px;
   margin : 0 0 0 18px;
   padding: 0 4px 0 4px;  
   height: 26px;   
   display: inline-block;
   position: relative;
 
}
.skills:before{
	content: " ";
	background: url(../images/skill-start.png) no-repeat;
	width: 10px;
    height: 20px;
	top: 4px;
	left: 0;
	position: absolute;
	margin-left: -10px;
}
.skills:after {
	content: " ";
	background: url(../images/skill-back.png) no-repeat;
	width: 4px;
    height: 20px;
	top: 4px;
	right: 0;
	position: absolute;
	margin-right: -4px;
}
.skills-list {
	margin-top: 2px;
	width: 232px;
	float:right;
	position: relative;
}

.content-items {
	font-family: OpenSansRegular;
	font-size: 14px; 
	line-height: 18px;
	color: #727070;
	/*border-bottom: 1px solid #727070 ;*/
}
.content-strins {
	/*width: 556px;
*/	margin: 0 41px 0 42px;
	display: block;
	/*height: 90px;*/
	position: relative;
	padding: 20px 24px 28px 95px;
}
.content-string:first-child {
	font-family: OpenSansSemibold;
}
.content-strins:not(.last) {
border-bottom: 1px solid #dbdbda;
-webkit-box-shadow:  0 2px rgba(219,219,219,.5);
-moz-box-shadow:  0 2px rgba(219,219,219,.5) ;
box-shadow:  0 2px rgba(219,219,219,.5) ;

}
.content-notmain {
	padding: 19px 0 20px 0;
}
.content-string {
	margin-top: 4px;
}




/*главное меню - раздельные части страниц
*/
.about-link {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background-color: #3eb799;/*#bfbfbf*/
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -moz-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -o-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -ms-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: linear-gradient(to top, #3eb799, #7ee8ce);
}
.contact-link {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;	
}


