@import url('buttons.css');
@import url('fonts.css');


body {
	background-image: url(../images/background.jpg);
	background-position: center 0px ;
	background-size: cover;
	}
body, html {
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
  }

/*поскольку сверстали без normalize.css , то приходится, чтобы макет не ушёл*/
h1,h2,h3,h4,h5,h6,ul,li,div {
	margin: 0;
	padding: 0;
}

.wrapper {
    min-height:  100%;
    overflow: hidden;
    position: relative;
}
.empty {
    height: 60px;
}
.footer {
	margin-top: -60px;
	height: 60px;
	background-color: #eff3f7; 
	position:relative;
}

.header {
	height: 90px;
	background-color: #767474;
	border-bottom: #fff 7px solid;
	box-shadow: #ddcf9e 0 0 1px 0;
}
.header-container {
	max-width: 1200px;
	margin: 0 auto;
}
.content, .footer-content  {
	max-width: 960px;
	margin: 0 auto;
}
.content, .footer-content, .header-container{
	min-width: 480px;
}

.sidebar {
	float: left;
}
.logo-text {
	position: absolute;
	top: 0;
	left: -9999px;
}
.logo-image {
	width: 95px;
	margin: 9px 0 0 9px;
}
.socials {
    position: relative;
    float: right;
    margin-top: 23px;
    padding: 0;
}
.social-item {
	list-style-type: none;
	display:inline-block;
}
.social-item-link {
	margin-left: 6px;
	text-indent: -9999px;

}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.sidebar {
	float: left;
	width: 250px;

}

.content {
	margin: 34px auto 0 ;
}
.nav, .contacts {
	padding: 0;
}
.nav {
-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.15);
-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.15);
box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.15);
}
li {
	list-style-type: none;	
}
.nav-item, .contacts-item {
	overflow: hidden;
}
.menu-item-link {
	display: block;
	text-align: left;
	text-decoration: none;
	font-family: OpenSansSemibold;
	font-size: 20px;
	color: #727070;
	padding: 17px 0 17px 29px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-color: #bfbfbf;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: -moz-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: -o-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: -ms-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: linear-gradient(to top, #e9e6e5, #fbf9f9 94%, #fff);
}
.menu-item-link:hover {
	background-color: #bfbfbf;
	-webkit-box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
	-moz-box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
	box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
	background-image: -webkit-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -moz-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -o-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -ms-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: linear-gradient(to top, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
}
.about .about-link,
.portfolio .portfolio-link,
.contact  .contact-link {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	background-color: #bfbfbf;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -moz-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -o-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -ms-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: linear-gradient(to top, #3eb799, #7ee8ce);
}
.nav-item:first-child, .block-header {
	border-radius: 5px 5px 0 0;

}
.nav-item:last-child, .contacts-item:last-child {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.active {
  background-image: -moz-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  z-index: 64;
}

._3_butt {
  background-image: -moz-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);

  z-index: 65;
}
._2_butt_hover {
  background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);

  z-index: 67;
}

.contacts-block {
	margin-top: 35px;
}
.contacts-block .block-header {
	padding: 10px 0 10px 30px;
	color: #d0982c;
	font-family: OpenSansSemibold;
	font-size: 20px;
	background-color: #f4cc7e;
}
.contact-item-link {
	font-family: OpenSansRegular;
	font-size: 14px;
	color: #727070;
	padding: 11px 0 11px 97px;
	display: block;
	text-decoration: none;
	position: relative;
}


.contacts-block .block-header  {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-color: #fffbf9;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
	box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: -moz-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: -o-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: -ms-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: linear-gradient(to top, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
}

.contact-item-link {
	background-color: #fbfbfb;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
}

.contact-item-link:hover {
	background-color: #fff;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(224,197,145,.45), rgba(251,249,249,0));
}

.footer-content {
	padding-top: 21px;
	position: relative;

}
.login {
	float:left;
	display: inline-block;
}
.login-text {
	color: #727070;
	font-family:  OpenSansBold;
	font-size: 14px;
	padding-left: 26px;
} 
.footer-text {
	display: inline-block;
	color: #727070;
	font-family:  OpenSansLignt;
	font-size: 12px;
	padding-left: 290px;
}

.content-area {
	margin-left: 303px;
/*	float:right;
	width: 652px;*/
}

.content-header {
	padding: 15px 0 15px 42px;
    color: #eeedec;
    font-size: 24px;
	font-family: OpenSansSemibold ;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background-color: #727070;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.3);
	box-shadow: inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #7b7878, #a9a8a8);
	background-image: -moz-linear-gradient(bottom, #7b7878, #a9a8a8);
	background-image: -o-linear-gradient(bottom, #7b7878, #a9a8a8);
	background-image: -ms-linear-gradient(bottom, #7b7878, #a9a8a8);
	background-image: linear-gradient(to top, #7b7878, #a9a8a8);
}

.content-part {
	margin-top: 36px;
	margin-bottom: 38px;
}
.content-content {
	padding: 36px 40px;
     background-color: #f6f5f4;
    -webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0  4px 4px;
	border: 1px solid #c5c5c5;	
}
.content-about {
    background-color: #fbfbfb;

}


