@import url('buttons.css');
@import url('fonts.css');

h1,h2,h3,h4,h5,h6,ul,li,div {
	margin: 0;
	padding: 0;
}

/*clearfix*/
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.sidebar {
	float: left;
	width: 250px;
}
.content {
	margin: 32px auto 0 ;
}

/*основной макет*/

body {
background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }



body, html {
	width: 100%;
	height: 100%;
	min-width: 960px;
}
a {
	text-decoration: none;
  }

.wrapper {
    min-height:  100%;
    overflow: hidden;
    position: relative;
}
.empty {
    height: 60px;
}
.footer {
	margin-top: -60px;
	height: 60px;
	background-color: #eff3f7; 
	position:relative;
}

/*шапка*/
.header {
	height: 90px;
	background-color: #767474;
	border-bottom: #fff 7px solid;
	box-shadow: #ddcf9e 0 0 1px 0;
}
.header-container {
	max-width: 1200px;
	margin: 0 auto;
}
.content, .footer-content  {
	max-width: 960px;
	margin: 0 auto;
}
.content, .footer-content, .header-container{
	min-width: 480px;
}

.sidebar {
	float: left;
}
.logo-text {
	position: absolute;
	top: 0;
	left: -9999px;
}
.logo-image {
	width: 126px;
	margin: 9px 0 0 9px;
}
.socials {
    position: relative;
    float: right;
    margin-top: 23px;
    padding: 0;
    margin-right: -4px;
}
.social-item {
	list-style-type: none;
	display:inline-block;
}
.social-item-link {
	margin-left: 5px;
	text-indent: -9999px;

}


/*основное содержимое*/
.content-area {
/*	margin-left: 310px;*/
	float:right;
	width: 651px;
}

.content {
	margin-top: 36px;
}

/*главное меню*/
.nav, .contacts {
	padding: 0;
}
.nav {
-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.15);
-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.15);
box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.15);
}
li {
	list-style-type: none;	
}
.nav-item, .contacts-item {
	overflow: hidden;
}

.menu-item-link {
	display: block;
	text-align: left;
	text-decoration: none;
	font-family: OpenSansSemibold;
	font-size: 20px;
	color: #727070;
	padding: 13px 0 13px 29px;
	background-color: #e9e6e5; /*#bfbfbf;*/
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: -moz-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: -o-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: -ms-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: linear-gradient(to top, #e9e6e5, #fbf9f9 94%, #fff);
}


.menu-item-link:hover {
	background-color: #bfbfbf;
	-webkit-box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
	-moz-box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
	box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
	background-image: -webkit-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -moz-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -o-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -ms-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: linear-gradient(to top, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
}


/*меню контакты*/

.contacts-block {
	margin-top: 35px;
}
.contacts-block .block-header {
	padding: 9px 0 9px 30px;
	color: #d0982c;
	font-family: OpenSansSemibold;
	font-size: 20px;
	background-color: #f4cc7e;
}
.contact-item-link {
	font-family: OpenSansRegular;
	font-size: 14px;
	color: #727070;
	padding: 8px 0 8px 97px;
	display: block;
	text-decoration: none;
	position: relative;
}


.contacts-block .block-header  {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-color: ##f4cc7e;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
	box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: -moz-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: -o-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: -ms-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: linear-gradient(to top, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
}

.contact-item-link {
	background-color: #fbfbfb;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
}

.contact-item-link:hover {
	background-color: #f2e7d2;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(224,197,145,.45), rgba(251,249,249,0));
}


/*содержание фуутера*/
.footer-content {
	padding-top: 21px;
	position: relative;

}
.login {
	float:left;
	display: inline-block;
}
.login-text {
	color: #727070;
	font-family:  OpenSansBold;
	font-size: 14px;
	padding-left: 28px;
} 
.footer-text {
	display: inline-block;
	color: #727070;
	font-family:  OpenSansLignt;
	font-size: 12px;
	padding-left: 290px;
}


.content-header {
	padding: 11px 0 10px 42px;
    color: #eeedec;
    font-size: 24px;
	font-family: OpenSansSemibold ;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background-color: #727070;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.3);
	box-shadow: inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #7b7878, #a9a8a8);
	background-image: -moz-linear-gradient(bottom, #7b7878, #a9a8a8);
	background-image: -o-linear-gradient(bottom, #7b7878, #a9a8a8);
	background-image: -ms-linear-gradient(bottom, #7b7878, #a9a8a8);
	background-image: linear-gradient(to top, #7b7878, #a9a8a8);
}

.content-part {
	/*margin-top: 36px;*/
	margin-bottom: 36px;
}
.content-content {
	padding: 36px 40px;
     background-color: #f6f5f4;
    -webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0  4px 4px;
	border: 1px solid #c5c5c5;	
}
.content-about {
    background-color: #fbfbfb;

}


