.content-content {
	padding-left: 0;
	padding-right: 0;
	padding-top: 6px;
}
.pages {
	margin-left: 5px;
}
.page, .page-add {
	margin-top: 30px;
	display:inline-block;
	/*float:left;*/
	margin-left: 35px;
	width: 164px;
	vertical-align: top;
}
.page {
   	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07);
	box-shadow: 0 2px 1px rgba(9,9,9,.07);
	border: solid 1px #b6b6b6;
	overflow: hidden;
}
.page-title, .page-add-link {
	color: #727070;
	font-family: OpenSansSemibold;
	text-align: center;
	font-size: 13px;
}
.page-title {
	background-color: #f2f2f2;
	padding: 9px;
}
.page-description {
	color: #727070;
	font-family: OpenSansLight;
	text-align: center;
	font-size: 12px;
/*	padding: 9px;
*/}

	
.page-add {
	position:relative;
	height: 131px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	border: solid 1px #b6b6b6;
	background-image: -webkit-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: -moz-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: -o-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: -ms-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: linear-gradient(to top, #edebea, #fbf9f9 94%, #fff);
}

.page-add:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#c2c0c0',GradientType=0 )";
	-webkit-box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
	   -moz-box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
			box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}


.page-add-link {
    width: 164px;
}
.page-add-image {
	padding: 25px 0 0 48px;
	padd
}
.page-add-text {
	margin: 0;
	padding: 6px 0 14px 0;
}
/*.page-image {
}
.page-image:hover {
	filter: alpha (Opacity=50); 
    opacity: 0.5;
    background-color: rgba(219,127,8, 0.7);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 1s ease-in-out; 
    -webkit-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out; 
}
*/

/*главное меню - раздельные части страниц
*/
.portfolio-link {
	background-color: #3eb799;/*#bfbfbf*/
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -moz-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -o-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -ms-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: linear-gradient(to top, #3eb799, #7ee8ce);
}

.contact-link {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;	
}
.about-link {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius:  3px 3px 0 0;
	border-radius:  3px 3px 0 0;	
}

/*ховер на картинку проекта*/

.projects-item {
   /* width: 183px;  */
    position: relative;
    /*margin: 20px;*/
}
.projects-item .project-img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.projects-item .zoom-wrapper {
    position: absolute;
    width: 100%;
    top: 55px;
    text-align: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.projects-item:hover .zoom-wrapper {	
	transform: scale(1);
	-webkit-transform: scale(1);
}
.projects-item .zoom-link {
    font-size: 12px;
    border: 1px solid #eff3f7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 0 4px;
}
.projects-item:hover .project-img{
	-moz-opacity: 0.20;
	opacity:.20;
	filter: alpha(opacity=20);
}
.projects-item:hover .hover-img{
/*	background-color: rgb( 108, 108, 164);*/
background-color: rgb(187, 186 , 185);
}

