.content-content {
	padding-left: 0;
	padding-right: 0;
	padding-top: 6px;
}
.pages {
	margin-left: 5px;
}
.page, .page-add {
	margin-top: 30px;
	display:inline-block;
	/*float:left;*/
	margin-left: 35px;
	width: 164px;
	vertical-align: top;
}
.page {
   	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07);
	box-shadow: 0 2px 1px rgba(9,9,9,.07);
	border: solid 1px #b6b6b6;
	overflow: hidden;
}
.page-title, .page-add-link {
	color: #727070;
	font-family: OpenSansSemibold;
	text-align: center;
	font-size: 13px;
}
.page-title {
	background-color: #f2f2f2;
	padding: 9px;
}
.page-description {
	color: #727070;
	font-family: OpenSansLight;
	text-align: center;
	font-size: 12px;
	margin: 0;
	padding: 8px;
}

	
.page-add {
	position:relative;
	height: 131px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	border: solid 1px #b6b6b6;
	background-image: -webkit-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: -moz-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: -o-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: -ms-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: linear-gradient(to top, #edebea, #fbf9f9 94%, #fff);
}

.page-add:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#c2c0c0',GradientType=0 )";
	-webkit-box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
	   -moz-box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
			box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}


.page-add-link {
    width: 164px;
}
.page-add-text {
	margin: 0;
	padding: 90px 0 14px 0;
    display: block;
    position: relative;
    }
.page-add-text:before {
	content: " ";
    background-image: url(../images/spritesheet_checkbox.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 22px;
    left: 48px;
    width: 64px;
    height: 64px;
    background-position: -68px -5px;
}



/*главное меню - раздельные части страниц
*/
.portfolio-link {
	background-color: #3eb799;/*#bfbfbf*/
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -moz-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -o-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -ms-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: linear-gradient(to top, #3eb799, #7ee8ce);
}

.contact-link {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;	
}
.about-link {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius:  3px 3px 0 0;
	border-radius:  3px 3px 0 0;	
}

/*ховер на картинку проекта*/

.projects-item {
   /* width: 183px;  */
    position: relative;
    /*margin: 20px;*/
}
.projects-item .project-img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.projects-item .zoom-wrapper {
    position: absolute;
    width: 100%;
    top: 55px;
    text-align: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.projects-item:hover .zoom-wrapper {	
	transform: scale(1);
	-webkit-transform: scale(1);
}
.projects-item .zoom-link {
    font-size: 12px;
    border: 1px solid #eff3f7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 0 4px;
}
.projects-item:hover .project-img{
	-moz-opacity: 0.20;
	opacity:.20;
	filter: alpha(opacity=20);
}
.projects-item:hover .hover-img{
/*	background-color: rgb( 108, 108, 164);*/
background-color: rgb(187, 186 , 185);
}


/*
ФОРМА	 ДОБАвление проекта*/
.page-add-project
{
	color: #727070;
    font-family: OpenSansLight;
    font-size: 12px;
	display: none;
	width: 362px;
	height: 461px;
	top: 50%;
    left: 50%;
    position: absolute;
    overflow: visible;
	margin-left: -181px;
	margin-top: -230px;
	-webkit-border-radius: 4px/7px;
	-moz-border-radius: 4px/7px;
	border-radius: 4px/7px;
	background-color: #f5f4f3;
	-webkit-box-shadow: 0 11px 27px rgba(159,159,159,.75), inset 0 6px 6px #fff;
	-moz-box-shadow: 0 11px 27px rgba(159,159,159,.75), inset 0 6px 6px #fff;
	box-shadow: 0 11px 27px rgba(159,159,159,.75), inset 0 6px 6px #fff;
	border: solid 1px #c3c2c2;
/*	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.5), rgba(255,255,255,.5));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.5), rgba(255,255,255,.5));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5), rgba(255,255,255,.5));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.5), rgba(255,255,255,.5));
	background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(255,255,255,.5));*/
}
.form-add-project {
	margin: 30px 0 0 21px;
}
.form-add-project__item {
	position: relative;
}
.form-add-project__label{
	margin: 7px 0 6px 0;
	font-family: OpenSansRegular;
	font-size: 14px;
}
.form-add-project__text {
	font-family: OpenSansLight;
	font-size: 12px;
	padding-left: 8px;
	box-sizing: border-box;
}

.form-add-project__text {
	position: relative;
	display: block;
	width: 322px;
	height: 42px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fbfcfd;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
}
.form-add-project__image-file {
	position: relative;
	height: 0;
	width: 0;
	overflow: hidden;
	float: left;
}
.add-project-image {
	padding-top: 12px;
    height: 42px; 
    box-sizing: border-box;
    width: 322px;
}

.add-project-image:before {
	content: " ";
	position: absolute;
	top: 0px;
	right: 0;
	width: 52px;
	height: 37px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	background-color: #fbf9f9;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: -moz-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: -o-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: -ms-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
	background-image: linear-gradient(to top, #e9e6e5, #fbf9f9 94%, #fff);
}
.add-project-image:after {
	content: " ";
	position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
	top: 10px;
	right: 10px;
    width: 32px;
    height: 22px;
    background-position: -242px -118px;
}

/*.page-add-project */
.project-description {
	height: 116px;
	padding-top: 12px;
	resize: none;
}

.project-add-submit {
	margin: 15px 0 0 88px;
}

.page-add-project__close-button {
	float:right;
	position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    top: 5px;
    right: 4px;
    width: 18px;
    height: 18px;
    background-position: -227px -5px;
    text-indent: -9999px;
}

.page-add-project .error {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fbfcfd;
	-webkit-box-shadow: 0 0 3px rgba(203,105,69,.85), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 3px rgba(203,105,69,.85), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 3px rgba(203,105,69,.85), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 2px #cb6945;
	background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
}

/*позиции туултипов*/
.validate-project-name {
    top: 34px;
    left: -137px;
}
.validate-image {
    top: 34px;
    left: -110px;
}
.validate-url {
    top: 34px;
    left: -133px;
}
.validate-decription {
    top: 65px;
    left: -136px;
}